.guideStepForm {
	display: flex;
	flex-direction: column;
	gap: 20px;

	padding: 20px;
}

.guideStepForm__form {
	display: flex;
}

.guideStepForm__image {
	display: flex;
}

.guideStepForm__buttonContainer {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
	gap: 10px;
}

.guideStepForm label {
	display: block;
	margin-top: 5px;
}

.input,
.textarea {
	resize: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
	font-size: 1rem;
	width: 100%;
	box-sizing: border-box;
}

.input:focus,
.textarea:focus {
	border-color: #007bff;
	outline: none;
}

.stepImagePreview {
	display: block;
	margin-top: 10px;
	max-width: 100%;
	height: auto;
}
