.guideSetHeader {
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}
.guideSetHeader__label {
	font-size: large;
	margin-bottom: 10px;
}
.guideSetHeader__titleInput {
	padding: 10px;
	font-size: 1rem;

	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 20px;
	transition: border-color 0.3s ease;
}

.guideSetHeader__titleInput:focus {
	border-color: #007bff;
	outline: none;
}

.guideSetHeader__buttonContainer {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}
